@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    min-height: auto;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    height: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
    top: 0;
    background-color: white;
}

.navbar-brand {
    color: #191919;
    font-weight: 800;
    font-size: 20px;

}

.nav-link {
    margin-left: 20px;
    color: #191919;
    font-weight: 600;
    font-size: 12px;
    /* padding-bottom: 3%; */
    text-align: center;
}

.navbar-brand:hover {
    color: #191919;
}

.navbar-brand:active {
    color: #191919;
}

.nav-link:hover {
    color: #191919;
}

.nav-link:active {
    color: #191919;
}

.container-fluid .login-button {
    padding-left: 1.8%;
    padding-right: 1.8%;
    padding-top: 0.29%;
    padding-bottom: 0.33%;
}

.container-fluid .login-button img {
    width: 23px;
    height: 23px;
}

.content {
    overflow: hidden;
    padding: 2% 4% 2% 4%;
}

/* data button */
.button-data {
    background-color: #1E1E1E;
    border-radius: 10px;
    color: #FFF8EA;
    /* width: 15%; */
    padding: 0.8% 0;
    float: right;
    margin-right: 1%;
    margin-bottom: 2%;
}

.button-data:hover {
    color: #FFF8EA;
}


.add {
    width: 12%;
}

.print {
    width: 11%;
}



/* table */
.table-customer {
    padding-right: 2%;
}

.modal-icon {
    width: 19px;
    height: 19px;
}

/* footer */
.foot {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background-color: #1E1E1E;
    padding: 1% 3.7% 1% 3.1%;

}

.foot .row .col-sm-11 {
    color: #FFF8EA;
    font-weight: 700;
    font-size: 15px;
}

.foot .row .col-sm-1 {
    text-align: end;

}

.foot .row .col-sm-1 .row .col-4 img {
    padding: 0px;
    width: 20px;
    height: 20px;
    margin-right: 1%;
}